<div class="col-md-12">

  <div class="new_question">
   <%= link_to("新问题", new_question_path, class: "btn  btn-secondary text-uppercase flat animation pull-right") %>

  </div>

  <h4>问题动态</h4>




    <table class="table table-striped">
<!--       <tr>
        <th>问题</th>
      </tr> -->
      <% @questions.each do |question|%>
      <tr>
        <td><%= link_to(question.content, question_path(question)) %></td>
        <td><%= question.updated_at%></td>
      </tr>

      <% end %>
    </table>


</div>
