<div class="col-md-4 col-md-offset-4">
    <h2>向律师问个问题</h2>

    <hr>
    <%= form_for @question do |f| %>


    您有什么问题向律师提问？
    <br>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
