<div class="col-md-12">


  <h4>问题： <%= @question.content %></h4><%= link_to("修改", edit_question_path) %>
  <hr>
  <!-- 如果有人回答，显示历史答案 -->
  <% if @answers.present? %>
    <% @answers.each do |answer|%>
    <p><%= answer.content %></p>

      <!-- 如果回答该问题的人就是当前用户 -->
      <% if answer.user == current_user %>
        <!-- 可以修改 -->
      <% end %>

    <% end %>
    <% else %>
      <p>律师们正在紧张的撰写答案</p>
  


  <% end %>


    

</div>