

<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_question_path(@question), class: "btn btn-primary pull-right")%>
  </div>

  <p><%= @question.description %></p>

    <% if @question.is_answered %>
  (我们会尽快催促律师给您回复!)
   <%= @question.answer%>
    <% else %>
(这是律师给您的回复)
    <% end %>

</div>
