<h2>上传你的合同</h2>
<div class="col-md-4 col-md-offset-4">
	<hr>
	<%= simple_form_for [:account, @document] do |f| %>

	<%= f.input :description %>

	<strong>上传你的文件</strong>
<%= f.file_field :client_docs, as: :file, :multiple => true %>
	<%= f.submit "上传图片", :disable_with => "提交中..." %>

	<% end %>


</div>
