<div class="col-md-12">


  <h4>用户<%= @document.user.user_name%>的合同： <%= @document.description %></h4>< >
  <hr>
  <!-- 如果有人回答，显示历史答案 -->
  <% if @documents.present? %>
    <% @documents.each do |document|%>
    <p><%= document.content %></p>

      <!-- 如果回答该问题的人就是当前用户 -->
      <% if document.user == current_user %>
        <!-- 可以修改 -->
      <% end %>

    <% end %>
    <% else %>
    <%if @documents.present?%>
      <p>律师们正在修改您的合同</p>
  <% else %>
    <p>请上传您的合同方便律师修改</p>
  <% end %>


  <% end %>

</div>
