 <h4>问题动态</h4>

<div class="row">

      <% @questions.each do |question| %>

      <div class="col-md-4 cold-sm-6 cardHeightWrap">
        <div class="itemCard questionCard">
        <div class="cardHeading">
          <div class="topHeading">
          <p class="cardTitle questionTitle"><%= question.area %></p>
        <div class="rlClearfix">
        <data-component class="questionDate">
          <%= question.updated_at%>
        </data-component>
          <!---wait for refracotring -->
          <p class="status questionStatus" >
          <% if question.is_answered %>
          <span class="glyphicon glyphicon-ok-sign"></span> 已被回答</td>
            <% else %>
            <span class="glyphicon glyphicon-question-sign"></span> 等待答复</td>
            <% end %>
          </p>
          </div>
        </div>
        </div>

        <div class="card-content">
          <p class="userQuestion">
          <span>Question</span>
          <hr>
          <%= link_to(question.content.first(10),account_question_path(question)) %>
        </p>
        </div>
      </div>
    </div>
      <% end %>
    </div>
</div>
