 <h4>问题动态</h4>



<div class="cardHeightWrap row">

      <% @questions.each do |question| %>

      <div class="col-md-4 cold-sm-6 cardHeightWrap">
        <div class="itemCard questionCard">
        <div class="statusBar">

        </div>
        <div class="cardHeading">
      
          <div class="topHeading">
            <!-- 判断附件是否存在 -->
            <% if question.attachment.present?%>
              <p class="cardTitle questionTitle">合同</p>
            <!-- 如果无附件 -->
            <% else %>
              <p class="cardTitle questionTitle"><%= question.area %></p>    
            <% end %>

          

        <div class="questionDate">
          <%= question.updated_at%>
        </div>
          <!---wait for refracotring -->
          <div class="questionStatus" >
          <br>
          <br>
          <% if question.is_answered %>

            <span class="glyphicon glyphicon-ok-sign"></span> 已被回答</td>
            <% else %>
            <span class="glyphicon glyphicon-question-sign"></span> 等待答复</td>
            <% end %>
          </div>

        </div>
        </div>

        <div class="card-content" ng-click="qaCtrl.toMain('body')">
          <p class="userQuestion">


          <!-- 判断附件是否存在 -->
          <% if question.attachment.present?%>

            <span>Document<span>
            </br>
              <%= link_to(question.content,account_question_path(question)) %>
            </p>  

            
          <!-- 如果无附件 -->
          <% else %>
            <span>Question<span>
            </br>
              <%= link_to(question.content,account_question_path(question)) %>
            </p>            
          <% end %>




<!-- 判断附件是否存在 -->
<% if question.attachment.present?%>
  
<!-- 如果无附件 -->
<% else %>

  
<% end %>



        </div>
      </div>
    </div>
      <% end %>
    </div>
</div>
