<div class="col-md-4 col-md-offset-4">
    <h2>合同审核</h2>

    <hr>


  <%= simple_form_for  [:account, @question] do |l| %>

  <div class="form-group">
      <%= l.input :attachment ,label: '合同附件' %>
      <%= l.input :content, label: '相关描述',input_html: { class: "form-control"} %>
      


  </div>
  <%= l.submit "提交", class: "btn btn-primary", data: { disable_with: "提交..." } %>
  <% end %>



</div>