<div class="col-md-12">


  <h4>问题： <%= @question.content %></h4><%= link_to("修改", edit_account_question_path) %>
  <hr>



  <!-- 查看历史信息 -->
  <% if @messages.present? %>
    <% @messages.each do |m| %>
    <p>
      <%= m.sender.email %>
      说:
      <%= m.body %>
    </p>

    <% end %>



  <% end %>






</div>
