<div class="col-md-12">


  <h4>问题： <%= @question.content %></h4>
  <!-- 禁用修改 -->
  <%#= link_to("修改", edit_account_question_path) %>
  <hr>

  <!-- 律师回答 -->
  <%= render 'conversations_by_lawyer' %>

    <!-- <hr> -->

</div>
