<!-- 
.page1{
   width: 100%;
   height: 500px;
}
.small-12{
 margin-top: 40px;
}
.illustrate-legaldoc{
 margin-top: 60px;
}
.illustrate-advice{
 margin-top: 60px;
}
.illustrate-protected{
 margin-top: 100px;
}
.span{
 margin-top: 40px;
}
.docs{
 margin-top: 40px;
}
.advice{
 margin-top: 40px;
}
.protected{
 margin-top: 70px;
}
.dd{
 margin-top: 20px;
}
.page2{
 height: 80px;
 margin-top: 93px;

  background-color: #F3F3F3;

}
.png2{
 margin-top: 20px;
}
img {
 border-radius: 5%;
}
.page3 {
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #d1cfc5;
   height: 500px;
   width: 100%;

}
.page3form{
 margin-top: 60px;

}
 -->




<center>

    <div class="page1">
        <div class="container">

            <header class="small-12 ">
                <h3>有伴律，法律问题不再难<sub>®<sub></h3>
                    </header>

                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <figure class="illustrate-legaldoc">
                                <img src="https://ooo.0o0.ooo/2016/11/30/583e7d9f36f12.png" alt="icon legal doc">
                                <dl>
                                    <dt class="docs">在线质询法律问题</dt>

                                    <dd class="dd">专业律师为您检查合同文件，专业修改，为您的权益保驾护航。 一键上传，收获一份安心。</dd>
                                </dl>
                            </figure>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <figure class="illustrate-advice"><img src="https://ooo.0o0.ooo/2016/11/30/583e7dc9768f9.png" alt="icon advice">
                                <figcaption>
                                    <dl>
                                        <dt class="advice">得到专业律师建议</dt>
                                        <dd class="dd">资深法律专家就在你身边，满足您任何时 间任何地点任何不解、疑惑，便可 直接发问，上千律师在线等。</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <figure class="illustrate-protected"><img src="https://ooo.0o0.ooo/2016/11/30/583e7dc4c657c.png" alt="icon protected">
                                <figcaption>
                                    <dl>
                                        <dt class="protected">为你的团队增加一份保障
                                        </dt>
                                        <dd class="dd">在这里我们有很专业律师保护咨询，最大效益的保障团队的合法权益，更可观的是，有很大的价格优惠。</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>
            <div class="page2">
                <div class="container">

                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <figure class="png2">
                                <img src="https://ooo.0o0.ooo/2016/11/30/583ebd1bbd008.png" >
                                <div class="rlHowItWorksStickyNavText">创建合同</div>

                            </figure>
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <figure class="png2">
                                <img src="https://ooo.0o0.ooo/2016/11/30/583e9947c80f3.png">
                                <div class="rlHowItWorksStickyNavText">咨询律师</div>

                            </figure>
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <figure class="png2">
                                <img src="https://ooo.0o0.ooo/2016/11/30/583e99480f188.png" >
                                <div class="rlHowItWorksStickyNavText">团体法务</div>

                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page3 ">
                <div class="container">
                    <div class="small-12 ">
                        <h3>值得信赖的法律合同</h3>
                    </div>
                    <div class="page3form">

                        <div class="row">

                            <div class="rlHomepageSectionLegalDocsArea">
                                <div class="col-lg-4 col-md-4 col-xs-12 ">
                                    <img class=" " src="https://ooo.0o0.ooo/2016/11/30/583e918a9de54.png">
                                    <div class="rlHomepageSectionLegalDocsText ">
                                        <p>由专家律师<br>合力编写</p>
                                    </div>
                                    <img class="" src="https://ooo.0o0.ooo/2016/11/30/583e918a582a2.png" alt="icon sign online">
                                    <div class="rlHomepageSectionLegalDocsText">
                                        <p>上线完成&amp;<br>操作简单</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <div class="">
                                        <img src="https://ooo.0o0.ooo/2016/11/30/583e8fe7329a9.png" alt="legal document sample experience">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <img class="" src="https://ooo.0o0.ooo/2016/11/30/583e918a54359.png" alt="icon easy to create">
                                    <div class="rlHomepageSectionLegalDocsText">
                                        <p>简单的创建<br>你需要的文件</p>
                                    </div>
                                    <img class="" src="https://ooo.0o0.ooo/2016/11/30/583e918a594fe.png" alt="icon devices">
                                    <div class="rlHomepageSectionLegalDocsText">
                                        <p>任何问题<br>任何时间</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>

<style>
.page1{
    width: 100%;
    height: 500px;
}
.small-12{
  margin-top: 40px;
}
.illustrate-legaldoc{
  margin-top: 60px;
}
.illustrate-advice{
  margin-top: 60px;
}
.illustrate-protected{
  margin-top: 100px;
}
.span{
  margin-top: 40px;
}
.docs{
  margin-top: 40px;
}
.advice{
  margin-top: 40px;
}
.protected{
  margin-top: 70px;
}
.dd{
  margin-top: 20px;
}
.page2{
  height: 80px;
  margin-top: 93px;

   background-color: #F3F3F3;

}
.png2{
  margin-top: 20px;
}
img {
  border-radius: 5%;
}
.page3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1cfc5;
    height: 500px;
    width: 100%;

}
.page3form{
  margin-top: 60px;

}

</style>
