<style media="screen">

    .hiw-pom-block-12 {
        display: block;
        background: rgba(255, 255, 255, 0.9);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        border-radius: 0;
        width: 100%;
        height: 900px;
        position: relative;
        text-align: center;
    }
    .hiw-pom-block-12-color-overlay {
        position: absolute;
        background: rgba(255, 255, 255, 0.85);
        height: 900px;
        width: 100%;
    }

    .hiw-btn-block {
        text-align: center;
        margin: auto auto 20px;
    }
    .hiw-btn-block .hiw-btn {
        background: #b00f14;
        color: rgba(255, 255, 255, 0.85);
        font-size: 1.5em;
        text-align: center;
        padding: 12px;
        margin: auto;
        width: 150px;
    }

    .hiw-pom-block-12 h1 {
        color: #333333;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 3em;
    }
    .hiw-faq {
        clear: left;
        background: #FBFBFB;
        padding: 80px 80px 40px;
    }
    .hiw-fees {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #b00f14;
        background-size: auto;
        box-sizing: border-box;
        color: #ffffff;
        font-size: 14px;
        height: 400px;
        line-height: 20px;
        padding: 50px 0;
        margin-bottom: -10px;

    }
    img {
        border: 0;
    }
    .text-center {
        text-align: center;
    }
    .h2,
    h2 {
        font-size: 30px;
    }
    .hiw-faq-block-container {
        display: flex;

    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .hiw-faq-block {
        margin-bottom: 40px;
    }
    .hiw-faq-block h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.8em;
    }
    p {
        margin: 0 0 10px;
        font-size: 18px;
    }

    .hiw-pom-block-12 {
        text-align: center;
    }
    .hiw-fees {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #b00f14;
        background-size: auto;
        box-sizing: border-box;
        color: #fff;
        font-size: 40px;
        height: auto;
        line-height: 20px;

        margin-bottom: -10px;
    }
    .hiw-fees-box {
        text-align: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .hiw-fees-header {
        font-size: 25px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .hiw-fees-blocks {
        display: flex;
        margin-left: 10%;
        margin-right: auto;
    }
    .hiw-fees-container {
        border: 1px solid;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;


        list-style-type: none;
        height: auto;
        text-align: left;
        padding-left: auto;
        font-size: 19px;

    }

    .hiw-fees-container.left {
        border: 1px solid;
        box-sizing: border-box;
        list-style-type: none;
        height: 95px;
        text-align: center;
        min-width: auto;
        padding-top: 36px
    }
    .hiw-fees-container.right {
        border: 1px solid;
        box-sizing: border-box;
        list-style-type: none;
        height: 95px;
        text-align: center;
        text-align: center;
        min-width: auto;
    }
    .hiw-fees-platform {
        text-decoration: none;
        font-size: 20px;
        font-weight: normal;
        margin-left: 20px;
        margin-top: 20px;
        color: #b00f14;
    }
    .hiw-fees-box p {
        line-height: 18px;
        margin-top: 20px;
    }
    .hiw-fees {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
    }

    .hiw-fees-payment {
        margin-top: 40px;
        font-size: 19px;
    }
    * {
        box-sizing: border-box;
    }
    #free {
        padding: 11px;
        text-decoration: line-through;
        font-size: 20px;
        color: white;
    }

</style>
<!--  -->
<section>


<div class="main-banner">
    <div class="container">
      <h1 class="text-light text-center-sm text-center-xs">用户指南</h1>
    </div>
</div>


<div class="hiw-faq">
    <h2 class="text-center">常见问题 </h2>
    <hr>
    <div class="hiw-faq-block-container">
        <div class="row">
            <div class="hiw-faq-block">
                <h3>用户如何向网站律师提出问题呢？</h3>
                <p>在网页上方点击“立即咨询”，根据提示在网站上进行注册，完成后提出第一个新问题，提交后便可等待律师的答复。我们从第二个问题开始收费。收费方案详见价格方案。</p>
                <h3>你们的网站跟其他法律网站有什么不同？</h3>
                <p>我们的网站主要提供线上法律服务。能在线上解决的问题，绝不会拖到线下解决。这样的服务方式，满足于不同区域的需求。可以免除时间空间的局限。</p>
                <h3>我为什么要选择你们网站提出法律问题？</h3>
                <p>我们有专业的律师在线回答。一次收费可以提供多次服务，直到问题解决为止。</p>
                <h3>提出问题，审查法律文件我需要准备什么材料？</h3>
                <p>您需要在提出问题之前，详细的描述问题发生的背景信息，目前掌握的各类证据等。</p>
                <h3>你们网站为什么收费？</h3>
                <p>因为律师回答问题需要时间，需要专业知识，需要跟您进行多次沟通判断，时间是最宝贵的财富。一次付费可以解决您多家比对进行对比的时间、精力。降低您解决问题的成本。</p>
                <p>目前网上信息爆炸，免费法律咨询很多，但是从免费法律咨询得到真正解决方案的几率很低，用户虽然免费，但是却无法甄别所获得的答案是否适合自己的具体情况。
                  多数稍微有点复杂的情况，就被告知需要到线下解决。我们伴律，立志于真正在网上解决问题，除非您主动提出，否则绝不允许律师私自约您线下服务。</p>
                <h3>我提出问题之后，多长时间能够得到答复。</h3>
                <p>对于付费用户的问题，我们的律师会在看到后第一时间回答。</p>
                <p>同一个问题会得到多位律师的回答，用户跟律师之间的对话完全私密。</p>
                <h3>我对律师的回答不满意怎么办？</h3>
                <p>您可以继续对该律师进行追问，也可以另行再将您不满意的地方进行提出新问题。当然为了最快得到您想得到的答复，提问的时候尽量多的描述您的问题信息。</p>
                <p>可以从多位律师回答中选择您满意的律师进行追问</p>
                <h3>如果多位律师的回答都不满意怎么办？</h3>
                <p>那您的问题一定非常重要，我们由我们的创始人亲自为您服务了！</p>
                <hr>
                <h3>律师如何申请成为本站律师？</h3>
                <p>可以在注册时选择律师身份，然后在律师个人界面填写完整自己的姓名，律师事务所，执业证号，上传自己的证件照、执业证照片。就可以等待管理员认证。管理员核实您的身份后会给您认证律师身份。</p>
                <h3>律师可以在网站做什么？</h3>
                <p>认证后的律师可以在网站上回答问题，下载、审查用户提交的法律文件。</p>
                <h3>律师如何获得报酬？</h3>
                <p>网站正式收费后会根据律师回答问题的次数、好评及频率，对网站所得进行合理分配。</p>

                <h3>没有您想要了解的？请联系我们！</h3>

            </div>

        </div>
    </div>
</div>













<!-- <div class="hiw-fees"> -->
