<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BL伴律</title>
  </head>
  <body>
    <div class="onepage">
      <div class="onepage-bg" id="onepagebg"></div>
        <div class="container">
          <div class="row">
            <div class="title-text">
              <div class="col-md-12 headfontsize">
              <center>
                <h1 class="headh1content">
                  做你的终身伴律，为你搞定一切
                </h1>
                <p style="margin-top: 50px;line-height: 33px">做你终身的法律顾问，结案快三倍，为你争取最大合法权益</p>
                <p style="margin-top: 90px;line-height: 33px" class="btn-app-stroe">
                  <a class="btn btn-success btn-lg" href="http://localhost:3000/users/sign_up">立即注册，可免费使用30天</a>
                </p>
              </center>
              </div>

            </div>

        </div>

        </div>
    </div>
    <hr>
    <div class="towpage">
      <div class="container">
       <div class="row">
         <div class="container">

        <div class="towpage-courses col-md-6">
        <center>
          <a href="#">
              <img src="https://lh4.ggpht.com/-wROmWQVYTcjs3G6H0lYkBK2nPGYsY75Ik2IXTmOO2Oo0SMgbDtnF0eqz-BRR1hRQg=w300" height="50" width="50"  />
          </a>
          <p>
            <!-- <a class="btn btn-info btn-lg" href="http://localhost:3000/account/documents/new">检查合同</a> -->
            <%= link_to "检查合同", account_documents_path, class:"btn btn-info btn-lg" %>
          </p>
          <p>
            律师帮您分析合同，30分钟内给出<br>专业意见，为您的权益保驾护航。<br>一键上传，收获一份安心。

          </p>
        </center>
        </div>
        <div class="towpage-courses col-md-6">
          <center>
          <a href="#">
            <img src="http://www.ztu68.com/uploads/Png/c101223/12930K3R250-1F34.png" height="50" width="50"  />
          </a>
          <p>
            <!-- <a class="btn btn-info btn-lg" href="http://localhost:3000/account/questions/new">法律问题，随便问</a> -->
            <%= link_to "法律问题，随便问", account_questions_path,class:"btn btn-info btn-lg"%>
          </p>
          <p>
            律专家就在你身边，满足您任何时<br>间任何地点任何不解、疑惑，便可<br>直接发问，上千律师在线等。

          </p>
        </center>
        </div>
      </div>
       </div>
      </div>
    </div>
    <div class="threepage">
      <div class="container">
        <div class="three-text">
          <center>

          <h2 class="three-text-h2">
            快速向你身边的律师发问
          </h2>
        </div>
        <div class="towpage-courses col-md-4">
          <center>
          <a href="#">
            <img src="http://img.lanrentuku.com/img/allimg/1401/5-1401061035020-L.jpg" height="50" width="50"  />
          </a>
          <h3 class="three-text-h5">得到法律建议</h3>
          <p>
            任何一个法律问题，我们在少于一个<br>工作日内，给出详尽的建议


          </p>
        </center>
      </div>
      <div class="towpage-courses col-md-4">
        <center>
        <a href="#">
          <img src="http://img.taopic.com/uploads/allimg/130816/318757-130Q60TJ390.jpg" height="50" width="50"  />
        </a>
        <h3 class="h3content">
          帮你分析文书

        </h3>
        <p>
         专业律师在线帮你分析查看你的合同<br>反馈给你一套详尽的法律方案
        </p>
      </center>
    </div>
    <div class="towpage-courses col-md-4">
      <center>
      <a href="#">
        <img src="http://jgospel.net/media/25163/.jpg" height="50" width="50"  />
      </a>
      <h3 class="h5content">
        团购打折

      </h3>
      <p>
        定期举办团购活动，跟你的同事一起购买<br>可享受最多8.8折优惠服务

      </p>
    </center>
    </div>
      </div>
      <div class="row">


      <div class="container">
        <div class="form-group col-md-6 ">
          <center>
          <a href="#">
            <img src="http://bpic.588ku.com/element_pic/00/16/10/1257fdd21dadbe5.jpg" height="550" width="420" ／>
          </a>
        </center>
      </div>
          <div>
              <!-- <br style="clear:both"> -->
                  <div class="form-group col-md-4 pull-right">
                      <label id="messageLabel" for="message">提出你的问题</label>
                      <textarea class="form-control input-sm " type="textarea" id="message" placeholder="Question" maxlength="500" rows="28"></textarea>
                          <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                  </div>
              <br style="clear:both">
              <div class="form-group col-md-2 pull-right">
              <button class="form-control input-sm btn btn-success disabled" id="btnSubmit" name="btnSubmit" type="button" style="height:35px" >提交</button>

          </div>
      </div>
    </div>
  </div>
  <hr>
<div class="fourpage">
  <div class="container">
    <div class="four-text">
      <center>

      <h2 class="four-text-h1">
        用户心声
      </h2>
      <div class="container">
        <div class="form-group col-md-6 ">
          <center>
            <h4>
             自从有了拥有了伴律，我再也不用担心，涉及的<br>法律问题，可以全身心的投入到工作，大大减少<br>了我的后顾之忧。创造了更大的价值。
            </h4>
        </center>
        </div>
        <div class="form-group col-md-6 ">
          <center>
            <h4>
             一年的陪伴，从开始完全没有法律意识，到现在<br>没有任何法律困扰，可以说让我省去了，话费在<br>设计版权的问题上，之前一直被这个问题困扰，<br>感谢伴律。
            </h4>
        </center>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
     <div class="form-group col-md-6 ">
      <center>
      <a href="#">
        <img src="http://image.3761.com/attachments/image/2014-09/20140902150911_90536.jpg" height="40" width="38"  />
      </a>
      <p>
        阿峰——互联网水果店拓新者<br>CEO & 网上著名水果店供应商
      </p>
    </center>
    </div>
    <div class="form-group col-md-6 ">
     <center>
     <a href="#">
       <img src="http://entdata-pic2.stor.vipsinaapp.com/2016031316/56e529de2056a14213915342513.jpg" height="40" width="38"  />
     </a>
     <p>
       曾曾——著名园林设计师<br>CEO & 圆梦园设计有限公司
     </p>
   </center>
   </div>
  </div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<div class="container" >
  <div class="form-group col-md-4 pull-right ">

        <div class="text-center center-block" >
            <br />
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
</div>
</div>
    </div>
<hr>
<div class="fivepage">
  <div class="container">
    <div class="five-text">
      <center>

      <h2 class="five-text-h2">
        我们在这里等你
      </h2>
      <div class="form-group col-md-4 ">
       <center>
       <a href="#">
         <img src="http://remix-model.co.jp/new2015/wp-content/uploads/2015/07/1161.jpg" height="150" width="120" ／>
       </a>
       <p>
         皮特·李<br>北京大学
       </p>
     </center>
     </div>
     <div class="form-group col-md-4 ">
      <center>
      <a href="#">
          <img src="http://a4.att.hudong.com/51/24/01300543479770144566243407086_s.jpg" height="150" width="120" ／>
      </a>
      <p>
        茱丽叶<br>清华大学
      </p>
    </center>
    </div>
    <div class="form-group col-md-4 ">
     <center>
     <a href="#">
       <img src="http://msp.c.yimg.jp/yjimage?q=9hWlgyAXyLFdtOtzN2HD1Kn0EgkQxpMAxZfou966Nn.fyFmECe15eh8m2TAkQI3JIIF25Jg3AlCsUw15.LQ9xBCr9SRKkseWhrq3UduQ1Z0xZwAOcIvTgrjkTXzB_MdgvVA-&sig=12t0gomr2&x=150&y=170" height="150" width="120" ／>
     </a>
     <p>
       安格斯·吴<br>耶鲁大学
     </p>
     </center>
    </div>
   <div class="five-text">
     <center>

     <h4 class="five-text-h2">
       为你扫除法律盲点
     </h4>
     <p>
       <a class="btn btn-danger btn-lg" href="http://localhost:3000/users/sign_up">快联系我们</a>
     </p>
   </center>
   </div>
<hr>
<!-- footer -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--footer-->
<footer class="footer1">
<div class="container">

<div class="row"><!-- row -->

                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->

                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">Useful links</h1>

                                <ul>
                                	<li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li>
                                </ul>

							</li>

                        </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3"><!-- widgets column left -->

                <ul class="list-unstyled clear-margins"><!-- widgets -->

                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">Useful links</h1>

                                <ul>
 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Satellite Education</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Study Centres</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  State P.G. Mocks</a></li>
                                    <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Results</a></li>

                                </ul>

							</li>

                        </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3"><!-- widgets column left -->

                <ul class="list-unstyled clear-margins"><!-- widgets -->

                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">Useful links</h1>

                                <ul>


                <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
 				<li><a href="#"><i class="fa fa-angle-double-right"></i> Online Test Series</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Grand Tests Series</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Subject Wise Test Series</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Smart Book</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i> Test Centres</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>  Admission Form</a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i>  Computer Live Test</a></li>

                                </ul>

							</li>

                        </ul>


                </div><!-- widgets column left end -->


                <div class="col-lg-3 col-md-3"><!-- widgets column center -->



                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                        	<li class="widget-container widget_recent_news"><!-- widgets list -->

                                <h1 class="title-widget">Contact Detail </h1>

                                <div class="footerp">

                                <h2 class="title-median">Webenlance Pvt. Ltd.</h2>
                                <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@webenlance.com</a></p>
                                <p><b>Helpline Numbers </b>

    <b style="color:#ffc106;">(8AM to 10PM):</b>  +91-8130890090, +91-8130190010  </p>

    <p><b>Corp Office / Postal Address</b></p>
    <p><b>Phone Numbers : </b>7042827160, </p>
    <p> 011-27568832, 9868387223</p>
                                </div>

                                <div class="social-icons">

                                	<ul class="nomargin">

                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                    </ul>
                                </div>
                    		</li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="copyright" pull-rigth>

					© 2016, BanLv, All rights reserved

				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="design">

					 <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Law</a>

				</div>

			</div>

		</div>

	</div>

</div>
  </body>
</html>
