<%= javascript_include_tag "application" %>

<!-- Slider Starts -->
  <div id="main-slider" class="carousel slide" data-ride="carousel">
  <!-- Wrapper For Slides Starts -->
    <div class="carousel-inner text-center">
    <!-- Slide #1 Starts -->
      <div class="item active">
        <img src="/assets/slider/slider-img1.jpg" class="img-responsive">
        <div class="carousel-caption hidden-xs">
          <h2 class="text-thin">终身伴律</h2>
          <h1 class="text-light">为你摆平一切</h1>
          <p>让顶级律师成为你随身的法律顾问 <br>从此法律零门槛 </p>
          <!-- <a href="#" class="btn btn-secondary animation text-uppercase flat">立即咨询</a> -->
          <%= link_to "立即咨询", account_questions_path,class:"btn btn-secondary animation text-uppercase flat"%>
        </div>
      </div>
    <!-- Slide #1 Ends -->
    <!-- Slide #2 Starts -->
      <div class="item">
        <img src="/assets/slider/slider-img2.jpg"  class="img-responsive">
        <div class="carousel-caption hidden-xs">
          <h2 class="text-thin">终身伴律</h2>
          <h1 class="text-light">为你摆平一切 </h1>
          <p>让顶级律师成为你随身的法律顾问 <br>从此法律零门槛</p>
          <!-- <a href="#" class="btn btn-secondary animation text-uppercase flat">立即咨询</a> -->
          <%= link_to "立即咨询", account_questions_path,class:"btn btn-secondary animation text-uppercase flat"%>
        </div>
      </div>
    <!-- Slide #2 Ends -->
    </div>
  <!-- Wrapper For Slides Ends -->
  <!-- Controls Starts -->
    <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <!-- Controls Ends -->
  </div>
<!-- Slider Ends -->
<!-- Intro Section Starts -->
  <section class="intro-home-section">
  <!-- Nested Container Starts -->
    <div class="container-fluid">
    <!-- Nested Row Starts -->
      <div class="row-fluid row-eq-height">
      <!-- Left Col Starts -->
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
              <h4 class="text-uppercase">在线咨询法律问题</h4>
              <p>资深法律专家就在你身边，满足您任何时
间任何地点任何不解、疑惑，便可
直接发问，上千律师在线等。</p>
            </div>
          </div>
        </div>
      <!-- Left Col Ends -->
      <!-- Right Col Starts -->
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center-sm text-center-xs">
              <h4>实时审核法律文件</h4>
              <p>专业律师为您检查合同文件，专业修改，为您的权益保驾护航。
一键上传，收获一份安心。</p>
            </div>
          </div>
        </div>
      <!-- Right Col Ends -->
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Intro Section Ends -->
<!-- featureSection Starts -->
		<section class="section-area practice-overview-section parallax text-center-xs">
  <!-- Nested Container Starts -->
    <div class="container">
      <h4 class="text-normal text-center">你的随身法律专家</h4>


    <!-- Nested Row Starts -->
      <ul class="row list-unstyled list-style-2 text-center">
      <!-- Col #1 Starts -->
        <li class="col-md-4  col-sm-12">
          <h6 class="text-normal">快速得到法律建议</h6>
          <p><i class="fa fa-question-circle"></i></p>
          <p>任何一个法律问题，我们在少于一个
工作日内，给出详尽的建议</p>
        </li>
      <!-- Col #1 Ends -->
      <!-- Col #2 Starts -->
        <li class="col-md-4 col-sm-12">
          <h6 class="text-normal">帮你分析文书</h6>
          <p><i class="fa fa-file-text"></i></p>
          <p>专业律师在线帮你分析查看你的合同
反馈给你一套详尽的法律方案</p>

        </li>
      <!-- Col #2 Ends -->
      <!-- Col #3 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <h6 class="text-normal">感恩优惠</h6>
          <p><i class="fa fa-credit-card"></i></p>
          <p>感恩节特惠，现在注册，前十二月免费。</p>
        </li>

      </ul>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- feature Section Ends -->



<!-- Meet Our clients Starts -->
  <section class="section-area team-section">
  <!-- Nested Container Starts -->
    <div class="container text-center">
      <h3 class="main-heading-1">听听他们怎么说</h3>

    <!-- Team Members Carousel Starts -->
    <br>

      <div id="team-carousel" class="owl-carousel">
      <!-- Team #1 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img1.jpg" alt="lawyer Sun" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>孙雁鸣</h6>
            <span class="designation text-light">伴律 &amp; 首席签约律师</span>
            <p> “伴律网让我能更加专注地提供法务咨询，普及法律，用自己的实际行动为全面依法治国的中国梦贡献了自己的心力” </p>

          </div>
        </div>
      <!-- Team #1 Ends -->
      <!-- Team #2 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img2.jpg" alt="Helen Jones" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>黄喵</h6>
            <span class="designation text-light">某知名VC &amp; 投资人</span>
            <p>"感谢伴律， 让我在实现财务自由后，摆脱法律焦虑，安心入睡，实现收钱自由。"</p>

          </div>
        </div>
      <!-- Team #2 Ends -->
      <!-- Team #3 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img3.jpg" alt="Helen Jones" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>朱大维</h6>
            <span class="designation text-light"> 新兴科技公司 &amp; 首席执行官</span>
            <p>“律伴网让有了个贴身律师，随时咨询，及时得到专业解答。婚前协议请律伴网的梁律师看了一下，从此可以无顾虑去eatgehter 约饭。”</p>


          </div>
        </div>
      <!-- Team #3 Ends -->
      <!-- Team #4 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img4.jpg" alt="Helen Jones" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>Eve</h6>
            <span class="designation text-light">《北京观察》 &amp; 作家</span>
            <p>"一年的陪伴，从开始完全没有法律意识，到现在没有任何法律困扰，可以说让我省去花费在版权的问题上，之前一直被这个问题困扰，感谢伴律。"</p>


          </div>
        </div>
      <!-- Team #4 Ends -->
      <!-- Team #5 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img5.jpg" alt="Helen Jones" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>黄里昂</h6>
            <span class="designation text-light"> 台北某夜店 &amp; 老板</span>
            <p>"自从有了拥有了伴律，我再也不用担心，涉及的法律问题，可以全身心的投入到工作，大大减少了我的后顾之忧。创造了更大的价值。"</p>


          </div>
        </div>
      <!-- Team #5 Ends -->
      <!-- Team #6 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img6.jpg" alt="Helen Jones" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>秦凤</h6>
            <span class="designation text-light">水果店 &amp; 店主</span>
            <p>”感谢，律伴网让我的水果卖向全世界同时，免去聘请单独法务的顾虑。我跟你讲，你们一定要用我们的服务，啊~ 免安装，一次上线，啊~”</p>


          </div>
        </div>
      <!-- Team #6 Ends -->
      <!-- Team #7 Starts -->
        <div class="team-col animation">
          <img src="assets/team-img7.jpg" alt="Helen Jones" class="img-responsive img-center">
          <div class="team-col-content">
            <h6>陈小精</h6>
            <span class="designation text-light">能源公司 &amp; 巨擘</span>
            <p>“律伴网,雄起。”</p>

          </div>
        </div>

      </div>
    <!-- Team Members Carousel Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Meet Our clients Section Ends -->







<!-- Cases Stats Info Section Starts -->
  <section class="section-area cases-stats-info parallax">
  <!-- Nested Container Starts -->
    <div class="container text-center">
    <!-- Nested Row Starts -->
      <div class="row">
      <!-- #1 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h2 class="text-light badges-counter">200</h2>
          <h5 class="text-uppercase">份合同已经被审核</h5>
        </div>
      <!-- #1 Ends -->
      <!-- #2 Starts -->
        <div class="col-md-4  col-sm-12">
          <h2 class="text-light badges-counter">500</h2>
          <h5 class="text-uppercase">个问题得到满意回答</h5>
        </div>
      <!-- #2 Ends -->
      <!-- #3 Starts -->
        <div class="col-md-4 col-sm-12">
          <h2 class="text-light badges-counter">100</h2>
          <h5 class="text-uppercase">名客户已经</h5>
        </div>
      <!-- #3 Ends -->

      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Cases Stats Info Section Ends -->









<!-- Free Consultation Section Starts -->
  <section class="section-area silver free-consultation-section text-center-sm text-center-xs">
  <!-- Heading Block Starts -->
    <div class="heading-block">
      <div class="container">
        <h3>现在加入，首年免费</h3>
        <h5 class="sub-heading-1 text-light text-uppercase">越过法律高门槛，我们在你身边</h5>
      </div>
    </div>
  <!-- Heading Block Ends -->
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Nested Row Starts -->
      <div class="row">
      <!-- Form Starts -->
        <div class="col-md-6 col-xs-12">
          <form action="#">
            <div class="form-group">

              <label for="fs-name" class="sr-only">你的姓名</label>
              <input type="text" id="fs-name" class="form-control flat" placeholder="你的姓名">

            </div>
            <div class="form-group">
              <label for="fs-name" class="sr-only">你的邮件</label>
              <input type="email" id="fs-email" class="form-control flat" placeholder="你的邮件">

            </div>

            <div class="form-group">
              <label for="fs-contact-no" class="sr-only">联系方式</label>
              <input type="text" id="fs-contact-no" class="form-control flat" placeholder="联系方式">
            </div>
            <div class="form-group">
              <label for="fs-msg" class="sr-only">你的问题</label>
              <textarea id="fs-msg" class="form-control flat" rows="8" placeholder="请留下你的问题"></textarea>
            </div>
            <button type="submit" class="btn btn-block btn-secondary text-uppercase flat animation">
               立即拥有私人法务
              </button>



          </form>
        </div>
      <!-- Form Ends -->

      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Free Consultation Section Ends -->
<!-- Clients Carousel Section Starts -->
  <section class="clients-section">
  <!-- Nested Container Starts -->
    <div class="container text-center">
      <h3 class="main-heading-1 light">媒体见证</h3>
    <!-- Carousel Starts -->
      <div id="clients-carousel" class="owl-carousel">
        <img src="assets/clients-carousel-img1.png" alt="Image" class="img-responsive img-center">
        <img src="assets/clients-carousel-img2.png" alt="Image" class="img-responsive img-center">
        <img src="assets/clients-carousel-img3.png" alt="Image" class="img-responsive img-center">
        <img src="assets/clients-carousel-img4.png" alt="Image" class="img-responsive img-center">
        <img src="assets/clients-carousel-img5.png" alt="Image" class="img-responsive img-center">
        <img src="assets/clients-carousel-img6.png" alt="Image" class="img-responsive img-center">
        <img src="assets/clients-carousel-img7.png" alt="Image" class="img-responsive img-center">

      </div>
    <!-- Carousel Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Clients Carousel Section Ends -->
