<body>
  <div class="">

<div class="">
  <div class=" text-center">
     <p class="text-center"><h4 class="text-danger">告诉我们您需要解决的问题</h4></p>
      <p class="text-center"><h4 class="text-danger">选择服务方案</h4></p>
       <p class="text-center"><h4 class="text-danger">立即解决</h4></p>
</div>
  </div>
  <br><div class="container text-center">
    <img src="https://ooo.0o0.ooo/2016/11/24/58368896503ed.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.03.png" title="屏幕快照 2016-11-24 14.25.03.png" />
      <img src="https://ooo.0o0.ooo/2016/11/24/583688970350c.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.20.png" title="屏幕快照 2016-11-24 14.25.20.png" />
    <img src="https://ooo.0o0.ooo/2016/11/24/583688965bc0f.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.07.png" title="屏幕快照 2016-11-24 14.25.07.png" />
    <img src="https://ooo.0o0.ooo/2016/11/24/583688970350c.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.20.png" title="屏幕快照 2016-11-24 14.25.20.png" />
    <img src="https://ooo.0o0.ooo/2016/11/24/58368897116b2.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.11.png" title="屏幕快照 2016-11-24 14.25.11.png" />
  <br>
  </div>
  <br>
<div class="container text-center">
  <% if current_user %>
  <%= link_to "按月支付",create_m_account_orders_path, method: :post, class:
          "btn  btn-secondary text-uppercase flat animation"%>
  <%= link_to "按年支付",create_y_account_orders_path, method: :post, class:
          "btn  btn-secondary text-uppercase flat animation"%>
            <% else %>
            <%= link_to"马上拥有", new_user_registration_path ,class:
                    "btn  btn-secondary text-uppercase flat animation "%>

              <% end %>
</div>

<div class="container">
  <img src="https://ooo.0o0.ooo/2016/11/24/58368895df836.jpeg" alt="pricing1.002.jpeg" title="pricing1.002.jpeg" />
  <br>
</div>
</div>

</body>
