<!-- Main Banner Area Starts -->
  <div class="main-banner">
    <div class="container">
      <h1 class="text-light text-center-sm text-center-xs">简单付费 <br>目的<br> 把注意力放在最重要的事情上 </h1>
    </div>
  </div>
<!-- Main Banner Area Ends -->


<!-- Main Container Starts -->
		<div class="main-container container text-center-xs">
			<h2 class="text-normal text-center">如何立即取得专业法律服务</h2>
    </div>
	<!-- Main Container Ends -->

    <section id="post-requirement-steps">
        <div class="container hidden-sm hidden-xs">
            <div class="row post-requirement-steps-images">

                <div class="col-sm-3">
                    <img src="https://ooo.0o0.ooo/2016/11/24/58368896503ed.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.03.png" title="屏幕快照 2016-11-24 14.25.03.png"/>

                    <p class="requirement-steps-details">填写您的需求，详细描述您的问题。</p>
                </div>
                <div class="col-sm-6 row">
                    <div class="col-sm-3 requirement-arrow">
                        <span class="glyphicons glyphicons-chevron-right"></span>
                    </div>
                    <div class="col-sm-6 requirement-middle-image">
                        <img src="https://ooo.0o0.ooo/2016/11/24/583688965bc0f.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.07.png" title="屏幕快照 2016-11-24 14.25.07.png"/>

                        <p class="requirement-steps-details">根据您的具体情况，选择不同的服务方案</p>
                    </div>

                </div>
                <div class="col-sm-3">
                    <img src="https://ooo.0o0.ooo/2016/11/24/58368897116b2.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.11.png" title="屏幕快照 2016-11-24 14.25.11.png"/>
                    <p class="requirement-steps-details">跟律师进行对话，取得专业法律意见</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Practice Overview Section Starts -->
		<section class="section-area practice-overview-section parallax text-center-xs">
		<!-- Nested Container Starts -->
			<div class="container">
				<h4 class="text-normal text-center">价格方案</h4>

				<div class="row">
				<!-- Col #1 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">免费使用</h5>
						<p>无需繁琐注册</p>
            <p>首次登录</p>
            <p>免费向专业律师咨询</p>
            <% if current_user %>
						<%= link_to "立即购买", create_m_account_orders_path,class:"btn btn-outline text-uppercase flat animation" %>
            <% end %>
					</div>
				<!-- Col #1 Ends -->
				<!-- Col #2 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">月付费服务</h5>
						<p>
              无限次数提问</p>
              <p>不限次数提交法律文件审核
            </p>
            <p>
              在线下载文件

            </p>
              <% if current_user %>
						<%= link_to "按月支付", create_m_account_orders_path,method: :post,class:"btn btn-outline text-uppercase flat animation" %>
            <% end %>
					</div>
				<!-- Col #2 Ends -->
				<!-- Col #3 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">年付费服务</h5>
						<p>
              不限次数提出法律文件审核
						</p>
            <p>
              在线实务指导

            </p>
            <p>
              第一时间回复
            </p>
            <% if current_user %>
						<%= link_to "按年支付", create_y_account_orders_path,method: :post,class:"btn btn-outline text-uppercase flat animation" %>
              <% end %>
					</div>
				<!-- Col #4 Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Practice Overview Section Ends -->


  <!-- Testimonial Section Starts -->
  		<section class="section-area testimonials-section text-center">
  		<!-- Nested Container Starts -->
  			<div class="container">
  				<div class="row">
  					<div class="col-xs-10 col-xs-offset-1">
  						<h4 class="text-normal">律师见证</h4>

  						<h2><i class="fa fa-quote-left"></i></h2>
  					<!-- Carousel Starts -->
  						<div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
  							<div class="row">
  								<div class="col-xs-8 col-xs-offset-2">
  								<!-- Wrapper For Slides Starts -->
  									<div class="carousel-inner">
  									<!-- Quote #1 Starts -->
  										<div class="item active">
  											<p>
  												伴律网让我能更加专注地提供法务咨询，普及法律，用自己的实际行动为全面依法治国的中国梦贡献了自己的心力”
  											</p>
  											<h4 class="text-normal">孙雁鸣</h4>

  										</div>
  									<!-- Quote #1 Ends -->
  									<!-- Quote #2 Starts -->
  										<div class="item">
  											<p>
  											伴律网让有了个贴身律师，随时咨询，及时得到专业解答。婚前协议请伴律网的梁律师看了一下，从此可以无顾虑去eatgehter 约饭。
  											</p>
  											<h4 class="text-normal">朱大维</h4>

  										</div>
  									<!-- Quote #2 Ends -->

  									</div>
  								<!-- Wrapper For Slides Ends -->
  								</div>
  							</div>
  						<!-- Controls Starts -->
  							<a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
  								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  								<span class="sr-only">Previous</span>
  							</a>
  							<a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
  								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  								<span class="sr-only">Next</span>
  							</a>
  						<!-- Controls Ends -->
  						</div>
  					<!-- Carousel Ends -->
  					</div>
  				</div>
  			</div>
  		<!-- Nested Container Ends -->
  		</section>
  	<!-- Testimonial Section Ends -->





    <!-- END PACKAGES SECTION -->
