<!-- Main Banner Area Starts -->
  <div class="main-banner">
    <div class="container">
      <h1 class="text-light text-center-sm text-center-xs">价格方案 </h1>
    </div>
  </div>
<!-- Main Banner Area Ends -->


<!-- Main Container Starts -->
		<div class="main-container container text-center-xs">
			<h2 class="text-normal text-center">如何立即取得专业法律服务</h2>
    </div>
	<!-- Main Container Ends -->

    <section id="post-requirement-steps">
        <div class="container">
            <div class="row post-requirement-steps-images">

                <div class="col-sm-3">
                    <img src="https://ooo.0o0.ooo/2016/11/24/58368896503ed.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.03.png" title="屏幕快照 2016-11-24 14.25.03.png"/>

                    <p class="requirement-steps-details">填写您的需求，详细描述您的问题。</p>
                </div>
                <div class="col-sm-6 row">
                    <div class="col-sm-3 requirement-arrow">
                        <span class="glyphicons glyphicons-chevron-right"></span>
                    </div>
                    <div class="col-sm-6 requirement-middle-image">
                        <img src="https://ooo.0o0.ooo/2016/11/24/583688965bc0f.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.07.png" title="屏幕快照 2016-11-24 14.25.07.png"/>

                        <p class="requirement-steps-details">根据您的具体情况，选择不同的服务方案</p>
                    </div>

                </div>
                <div class="col-sm-3">
                    <img src="https://ooo.0o0.ooo/2016/11/24/58368897116b2.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.11.png" title="屏幕快照 2016-11-24 14.25.11.png"/>
                    <p class="requirement-steps-details">跟律师进行对话，取得专业法律意见</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Practice Overview Section Starts -->
		<section class="section-area practice-overview-section parallax text-center-xs">
		<!-- Nested Container Starts -->
			<div class="container">
				<h4 class="text-normal text-center">价格方案</h4>

				<div class="row">
				<!-- Col #1 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">免费使用</h5>
						<p>无需繁琐注册</p>
            <p>首次登录</p>
            <p>免费向专业律师咨询</p>
            <% if current_user %>
						<%= link_to "立即购买", create_m_account_orders_path,class:"btn btn-outline text-uppercase flat animation" %>
            <% end %>
					</div>
				<!-- Col #1 Ends -->
				<!-- Col #2 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">月付费服务</h5>
						<p>
              无限次数提问</p>
              <p>不限次数提交法律文件审核
            </p>
            <p>
              在线下载文件

            </p>
              <% if current_user %>
						<%= link_to "按月支付", create_m_account_orders_path,method: :post,class:"btn btn-outline text-uppercase flat animation" %>
            <% end %>
					</div>
				<!-- Col #2 Ends -->
				<!-- Col #3 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">年付费服务</h5>
						<p>
              不限次数提出法律文件审核
						</p>
            <p>
              在线实务指导

            </p>
            <p>
              第一时间回复
            </p>
            <% if current_user %>
						<%= link_to "按年支付", create_y_account_orders_path,method: :post,class:"btn btn-outline text-uppercase flat animation" %>
              <% end %>
					</div>
				<!-- Col #4 Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Practice Overview Section Ends -->



<!-- Main Container Ends -->

    <!-- END PACKAGES SECTION -->
   
