<!-- Main Banner Area Starts -->
  <div class="main-banner">
    <div class="container">
      <h1 class="text-light text-center-sm text-center-xs">价格方案 </h1>
    </div>
  </div>
<!-- Main Banner Area Ends -->


<!-- Main Container Starts -->
		<div class="main-container container text-center-xs">
			<h2 class="text-normal text-center">如何立即取得专业法律服务</h2>
    </div>
	<!-- Main Container Ends -->

    <section id="post-requirement-steps">
        <div class="container">
            <div class="row post-requirement-steps-images">

                <div class="col-sm-3">
                    <img src="https://ooo.0o0.ooo/2016/11/24/58368896503ed.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.03.png" title="屏幕快照 2016-11-24 14.25.03.png"/>

                    <p class="requirement-steps-details">填写您的需求，详细描述您的问题。</p>
                </div>
                <div class="col-sm-6 row">
                    <div class="col-sm-3 requirement-arrow">
                        <span class="glyphicons glyphicons-chevron-right"></span>
                    </div>
                    <div class="col-sm-6 requirement-middle-image">
                        <img src="https://ooo.0o0.ooo/2016/11/24/583688965bc0f.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.07.png" title="屏幕快照 2016-11-24 14.25.07.png"/>

                        <p class="requirement-steps-details">根据您的具体情况，选择不同的服务方案</p>
                    </div>

                </div>
                <div class="col-sm-3">
                    <img src="https://ooo.0o0.ooo/2016/11/24/58368897116b2.png" class="img-circle" alt="屏幕快照 2016-11-24 14.25.11.png" title="屏幕快照 2016-11-24 14.25.11.png"/>
                    <p class="requirement-steps-details">跟律师进行对话，取得专业法律意见</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Practice Overview Section Starts -->
		<section class="section-area practice-overview-section parallax text-center-xs">
		<!-- Nested Container Starts -->
			<div class="container">
				<h4 class="text-normal text-center">价格方案</h4>

				<div class="row">
				<!-- Col #1 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">免费使用</h5>
						<p>
						无需繁琐注册，首次登录，免费向专业律师咨询
						</p>
						<% link_to "立即购买", class:"btn btn-outline text-uppercase flat animation" %>
					</div>
				<!-- Col #1 Ends -->
				<!-- Col #2 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">PRACTICE CENTER</h5>
						<p>
							Nulla imperdiet enim vel augue tristique condimentum. Donec lacus orci, scelerisque eu ex vitae, auctor ullamcorper orci. Praesent condimentum urna vitae vulputate volutpat. Curabitur tincidunt non mi.
						</p>
						<a href="#" class="btn btn-outline text-uppercase flat animation">More Info</a>
					</div>
				<!-- Col #2 Ends -->
				<!-- Col #3 Starts -->
					<div class="col-sm-4 col-xs-12">

						<h5 class="text-uppercase text-normal">PRACTICE OF LAW</h5>
						<p>
							Nulla imperdiet enim vel augue tristique condimentum. Donec lacus orci, scelerisque eu ex vitae, auctor ullamcorper orci. Praesent condimentum urna vitae vulputate volutpat. Curabitur tincidunt non mi.
						</p>
						<a href="#" class="btn btn-outline text-uppercase flat animation">More Info</a>
					</div>
				<!-- Col #4 Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Practice Overview Section Ends -->

    <!--  -->
    <section class="packages" id="pricingbody">
        <div class="container">

            <!-- PACKAGES -->
            <div class="row2">
                <div class="col-lg-4 col-sm-4">
                  <div class="well kuang1 ">

                    <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                        <div class="package-header blue-bg text-center">
                            <h5>月付费服务</h5>
                        </div>
                        <div class="price price-noround dark-bg">
                            <div class="price-container">
                                <h4>
                                    <span class="dollar-sign"></span>999元</h4>

                                <span class="price-meta"></span>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <i class="icon-check"></i>无限次数提问</li>
                            <li>
                                <i class="icon-check"></i>
                                <b>不限次数提交法律文件审核</b>
                            </li>
                            <li>
                                <i class="icon-check"></i>在线下载文件</li>

                        </ul>

                    </div>
                </div>
              </div>

                  <div class="col-lg-4 col-sm-4">
                    <div class="well kuang2">

                      <div class="package wow fadeInTop animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                          <div class="package-header red-bg text-center">
                              <h5>年付费服务</h5>
                          </div>

                          <div class="price price-noround dark-bg">
                              <h4>
                                  <span class="dollar-sign"></span>9999元</h4>
                              <span class="price-meta">

                              </span>
                          </div>
                          <ul>
                              <li>
                                  <i class="icon-check"></i>无限次数提问</li>
                              <li>
                                  <i class="icon-check"></i>
                                  <b>不限次数提出法律文件审核</b>
                              </li>
                              <li>
                                  <i class="icon-check"></i>无限量法律文库下载</li>
                              <li>
                                  <i class="icon-check"></i>在线实务指导</li>
                              <li>
                                  <i class="icon-check"></i>第一时间回复</li>
                              <li>
                                  <i class="icon-check"></i>案件代理最大幅度优惠</li>

                          </ul>


                      </div>
                  </div>
                </div>

  <div class="col-lg-4 col-sm-4">


    <div class="well kuang3">

      <div class="package wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="package-header yellow-bg text-center">
              <h5>现在注册</h5>
          </div>
          <div class="price price-noround dark-bg">
              <h4>享受超强优惠</h4>
              <span class="price-meta"></span>
          </div>
          <ul>
              <li>
                  <i class="icon-check"></i>无限次数提问</li>
              <li>
                  <i class="icon-check"></i>
                  <b>不限次数提出法律文件审核</b>
              </li>
              <li>
                  <i class="icon-check"></i>无限量法律文库下载</li>
              <li>
                  <i class="icon-check"></i>在线实务指导</li>
              <li>
                  <i class="icon-check"></i>第一时间回复</li>
              <li>
                  <i class="icon-check"></i>案件代理最大幅度优惠</li>

          </ul>

      </div>
  </div>
</div>
<!-- / END PACKAGES -->

</div>
</div>

        <hr>

        <div class="btn-bottom1 text-center">
          <%= link_to "立即免费注册", "#heading-block",class:"btn btn-secondary animation  flat"%>

        </div>
        <!--END CONTAINER  -->

    <!-- END PACKAGES SECTION -->

    <!--  -->
</body>
<style media="screen">
    .packages {
        padding-bottom: 50px;
        background: #FFFFF;
        height:auto;
    }
    .top {
        center
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    div {
        display: block;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .package {
        border-radius: 15px;
        background: Error: source does not appear to be markup.;
        margin-top: 25px;
        margin-bottom: 50px;
        padding-bottom: 15px;
        height: 400px;
    }
    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    .package-header {
        height: 57px;
        color: #FFFfff;
        line-height: 57px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .red-bg {
        background: #CCCCCC;
    }
    .blue-bg {
        background: #CCCCCC;
    }
    .yellow-bg {
        background: #CCCCCC;
    }
    .part1-1 {
        width: 30%;
        height: 300px;
        padding-bottom: 30px;
    }
    .part1-2 {
        width: 30%;
        height: 300px;
        padding-bottom: 30px;

    }
    .part1-3 {
        width: 30%;
        height: 300px;
        padding-bottom: 30px;

    }

    /*table*/
    .main-container .col-div-text {
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
    }
    .btn-bottom1{
      padding-bottom: 15px;

    }
    .btn-bottom2{
      padding-bottom: 15px;

    }

    .btn-bottom3{
      padding-bottom: 15px;

    }

    td,
    th {
        display: table-cell;
        vertical-align: inherit;
    }
    table {
        max-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

</style>
