<h1>为了保障您的问题得到专业的答复，我们网站从第二个问题开始进行收费咨询。</h1>
<h2><p>为什么我们要收费？</p></h2>
<h3><p>目前网上信息爆炸，免费法律咨询很多，但是从免费法律咨询得到真正解决方案的几率很低，用户虽然免费，但是却无法甄别所获得的答案是否适合自己的具体情况。
  多数稍微有点复杂的情况，就被告知需要到线下解决。我们伴律，立志于真正在网上解决问题，能不到线下就不到线下。</p></h3>
<h4><p>我们的律师都是5年以上经验的专业律师，线下咨询小时收费200-3000元不等。线上收费咨询，同样的服务，免除路途的限制。</p>
<p>除了问问题我们交了费还能享受什么服务？</p></h4>
  <h5>  <p>更多网站说明请见</p></h5>
  <li><%= link_to("收费说明",sec_price_path) %></li>
  <li><%= link_to("用户指南",help_term_path) %></li>
