<h2>个人信息</h2>
<table class="table table-boldered">
  <tr>
    <th>用户名</th>
    <th>用户邮箱</th>


    <th>城市</th>
  </tr>
  <tr>
  <td><%= @user.user_name %></td>
  <td><%= @user.email %></td>

  <td><%= @user.district %></td>
</tr>
</table>
<%#= link_to("修改密码或注销用户", edit_user_registration_path, class: "btn btn-danger btn-lg pull-right") %>
