    <!-- 律师表单 -->
    <%= simple_form_for @new_answer ,url: admin_question_answers_path(@question) do |a| %>
    <% if @conversation.present? %>
    <!-- <h1>对话id:<%#= @conversation.id %></h1> -->
    <!-- 隐藏提交当前会话id -->
    <%= a.input :conversation_id, :as => :hidden, :input_html => { :value => @conversation.id } %>

    <% end %>

    <div class="form-group">
        <%= a.input :content, label: '法律意见：',input_html: { class: "form-control",rows: "15"} %>


    </div>
    <%= a.submit "提交", class: "btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交..." } %>
    <% end %>
