  <!-- 律师端历史消息 -->


  <!-- 查看历史信息 -->
  <% if @messages.present? %>
    <% @messages.each do |m| %>

      <!-- 对话样式 -->
      <% if m.sender == current_user %>
        <blockquote class="blockquote-reverse">
      <% else %>
        <blockquote>
      <% end %>
          <p><%= simple_format(m.body) %></p>
          <footer><%= m.sender.email %></footer>
        </blockquote>
      
      <!-- 对话样式 -->

    <% end %>
  <% end %>
