<div class="col-md-4 col-md-offset-4">
    <h2>回答咨询问题</h2>

    <hr>
    <%= form_for @question do |f| %>


    <%= f.text_field :description %>
    <br>

    <br>
    <%= f.input :answer %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
