<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_question_path(@question), class: "btn btn-primary pull-right")%>
  </div>

  <p><%= @question.description %></p>

  <p><%= @question.answer %></p>
</div>
