// Place all the styles related to the aboutus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page1{
    width: 100%;
    height: 500px;
}
.small-12{
  margin-top: 40px;
}
.illustrate-legaldoc{
  margin-top: 60px;
}
.illustrate-advice{
  margin-top: 60px;
}
.illustrate-protected{
  margin-top: 100px;
}
.span{
  margin-top: 40px;
}
.docs{
  margin-top: 40px;
}
.advice{
  margin-top: 40px;
}
.protected{
  margin-top: 70px;
}
.dd{
  margin-top: 20px;
}
.page2{
  height: 80px;
  margin-top: 93px;

   background-color: #F3F3F3;

}
.png2{
  margin-top: 20px;
}
img {
  border-radius: 5%;
}
.page3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1cfc5;
    height: 500px;
    width: 100%;

}
.page3form{
  margin-top: 60px;

}
