/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "responsive";
 @import "style";



.kbd {
   padding: 2px 4px;
   font-size: 77% !important;
   color: #fff;
   background-color: #333;
   border-radius: 3px;

}


.download-button {
  margin-top: 10px;
}



 .arrowDown{
     float: right;

 }


 .alert-success {
     background-color: #222;
     border-color: rgba(255, 255, 255, 0.15);
     color: #fcf8e3;
     margin: 1px auto 1px auto;
   }


   .alert-dismissable .close {
       position: relative;
       top: -2px;
       right: -21px;
       color: rgba(0, 0, 0, 0.075);
   }


.pageContainer {
  margin-top: 7px;
}



.notificationIcon {
  margin-top: 3px;
  margin-right: 1px;
  float:right;
}

#btn-notification{
  color: #fff;
  background-color: #222;
  border-color: #222;
}

#btn-notification > i > kbd{
  color: #fff;
  background-color: #222;
  border-color: #222;
}


.list-style-2 li h6{
    color: #fcf8e3;
  }


.list-style-2 li .fa {
      margin-bottom: 15px;
      font-size: 60px;
      color: #fcf8e3;
    }


.statusBar-response {
    border: .14286rem solid #598b25;
}


.statusBar-waiting {
    border: .14286rem solid #e0820e;
  }

.info h5 {
  font-size:14px;

}
