/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "responsive";
 @import "style";




 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {

   width: 100% !important;


 }
.common-block {
    display: block;
    max-width: 960px;
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
    letter-spacing: 0;
  }
 .well {

      background-color: #e3e3e3;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
      opacity:0.95;
 }

 .registration-block .input {
     float: right;
     max-width: 360px;
     text-align: left;
 }





.body {
     text-rendering: optimizeLegibility;
     font-family: 'Hiragino Sans GB','Avenir Next',Avenir,'Helvetica Neue',Helvetica,'Lantinghei SC',sans-serif;

 }




 @media (min-width: 1200px){
  .container {
     width: auto;
 }
}

.kbd {
   padding: 2px 4px;
   font-size: 77% !important;
   color: #fff;
   background-color: #333;
   border-radius: 3px;

}


.download-button {
  margin-top: 10px;
}



 .arrowDown{
     float: right;

 }


 .alert-success {
     background-color: #222;
     border-color: rgba(255, 255, 255, 0.15);
     color: #fcf8e3;
     margin: 1px auto 1px auto;
     opacity: 0.75;
   }


   .alert-dismissable .close {
       position: relative;
       top: -2px;
       right: -21px;
       color: rgba(0, 0, 0, 0.075);
   }


.loginContainer{
  margin-top: 20px;
}


.pageContainer {
  margin-top:11px;
}



.notificationIcon {
  margin-top: 3px;
  margin-right: 1px;
  float:right;
}

#btn-notification{
  color: #fff;
  background-color: #222;
  border-color: #222;
}

#btn-notification > i > kbd{
  color: #fff;
  background-color: #222;
  border-color: #222;
}


.list-style-2 li h6{
    color: #fcf8e3;
  }


.list-style-2 li .fa {
      margin-bottom: 15px;
      font-size: 60px;
      color: #fcf8e3;
    }


.statusBar-response {
    border: .14286rem solid #598b25;
}


.statusBar-waiting {
    border: .14286rem solid #e0820e;
  }

.info h5 {
  font-size:14px;

}

/* 小圆点 */
.notification-point{
    border: 1px solid #b11331;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    margin-left: -1.2em;
}
