  <table class="table-striped">
      <h5 class="table-striped"><i class="fa fa-bank (alias) "></i>欢迎来到伴律</h5>
    </div>

      <div class="description" >
        <h6 class="sign-h6"><i class="fa fa-database "></i>不再为了法律问题而担忧</h6>
        <p>让顶级律师成为你随身的法律顾问，从此法律零门槛</p>
        <h6 class="sign-h6"><i class="fa  fa-archive "></i>快速在线咨询法律问题</h6>
        <p>资深法律专家就在你身边，满足您任何时 间任何地点任何不解、疑惑便可直接发问，上千律师在线等。</p>
      </div>
</table>
