<div class="hiw-pom-block-12">
  <div class="hiw-pom-block-12-color-overlay">
    <div class="hiw-center-block">
      <h1 class="text-center">加入我们  马上开始</h1>
      <div class="hiw-btn-block">
        <a href="/account/questions/new">现在就开始</a>
      </div>
    </div>
  </div>
</div>
