<div class="col-md-12">



  <h4>最新动态</h4>




    <table class="table table-striped">
<!--       <tr>
        <th>问题</th>
      </tr> -->
      <% @legalmatters.each do |legalmatter|%>
      <tr>
        <td><%= link_to(legalmatter.question, admin_legalmatter_path(legalmatter)) %></td>
        <td><%= legalmatter.updated_at%></td>
      </tr>

      <% end %>
    </table>
    

</div>