
  <!-- Footer Starts -->
		<footer class="main-footer" style="margin-top:50px;">
		<!-- Footer Links Starts -->
			<div class="footer-links text-center-xs">
			<!-- Nested Container Starts -->
				<div class="container">
				<!-- Nested Row Starts -->
					<div class="row">
					<!-- Foot Col #1 Starts -->
						<div class="col-md-6   col-sm-12">
							<h4 class="text-light-color">关于伴律网</h4>
							<p>伴律网 是一家旨在为用户提供在线法律咨询的服务网站。拥有伴律网，用户等于拥有自己的专属律师。拥有伴律网，企业相当于拥有自己的法律顾问。方便快捷，专业咨询，不只是解决问题，更重要的是防范问题的发生。</p>
							<p>伴律网 旨在为用户提供法律咨询的同时，提高用户的法律基础知识。</p>
							<ul class="list-unstyled list-inline sm-foot-links">
								<li class="animation"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
							</ul>
						</div>
					<!-- Foot Col #1 Ends -->

					<!-- Foot Col #2 Starts -->
						<div class="col-md-6 col-sm-12" style="pull-right">
							<h4 class="text-light-color">联系信息</h4>
							<p> 中国北京朝阳区建外 SOHO </p><br>
							<ul class="list-unstyled list-style-1">
								<li>400 345 678 9630</li>
								<li><a href="mailto:laywerconsult@lawyerconsult.com">laywerconsult@lawyerconsult.com</a></li>
							</ul>
						</div>
					<!-- Foot Col #2 Ends -->

					</div>
				<!-- Nested Row Ends -->
				</div>
			<!-- Nested Container Ends -->
			</div>
		<!-- Footer Links Ends -->
		<!-- Copyright Starts -->
			<div class="copyright">
						<p class="text-center">伴律 &copy; 2016, All Rights Reserved.</p>

					</div>
				</div>
			<!-- Nested Container Ends -->
			</div>
		<!-- Copyright Ends -->
		</footer>
	<!-- Footer Ends -->



</footer>
