
  <!-- Footer Starts -->
		<footer class="main-footer" style="margin-top:50px;">
		<!-- Footer Links Starts -->
			<div class="footer-links text-center-xs">
			<!-- Nested Container Starts -->
				<div class="container">
				<!-- Nested Row Starts -->
					<div class="row">
					<!-- Foot Col #1 Starts -->
						<div class="col-md-6   col-sm-12">
							<h4 class="text-light-color">关于伴律网</h4>
							<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, fermentum massa justo sit amet risus. Sed posuere consec.</p>
							<p>Suspendisse commodo auctor molestie. Mauris arisusvitae massa.</p>
							<ul class="list-unstyled list-inline sm-foot-links">
								<li class="animation"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
								<li class="animation"><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
							</ul>
						</div>
					<!-- Foot Col #1 Ends -->

					<!-- Foot Col #2 Starts -->
						<div class="col-md-6 col-sm-12" style="pull-right">
							<h4 class="text-light-color">联系信息</h4>
							<p> 中国北京朝阳区建外 SOHO </p><br>
							<ul class="list-unstyled list-style-1">
								<li>400 345 678 9630</li>
								<li><a href="mailto:laywerconsult@lawyerconsult.com">laywerconsult@lawyerconsult.com</a></li>
							</ul>
						</div>
					<!-- Foot Col #2 Ends -->

					</div>
				<!-- Nested Row Ends -->
				</div>
			<!-- Nested Container Ends -->
			</div>
		<!-- Footer Links Ends -->
		<!-- Copyright Starts -->
			<div class="copyright">
						<p class="text-center">伴律 &copy; 2016, All Rights Reserved.</p>

					</div>
				</div>
			<!-- Nested Container Ends -->
			</div>
		<!-- Copyright Ends -->
		</footer>
	<!-- Footer Ends -->



</footer>
