<h2>上传反馈合同</h2>
<div class="col-md-4 col-md-offset-4">
	<hr>
	<%= simple_form_for [:lawyer, :document, @feedback] do |f| %>

	<%= f.input :description,label:"修改后的合同描述"%>

	<strong>上传你修改后的合同</strong>
<%= f.file_field :client_docs, as: :file, :multiple => true %>
	<%= f.submit "上传合同", :disable_with => "提交中..." %>

	<% end %>


</div>
